* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Lato', sans-serif;
    min-height: 100%;
    position: relative;


}

.italic {
    font-style: italic;
}


/* hero-image */

#hero-image {
    background-image: url('../images/background-cropped.webp');
    height: 500px;
    width: 100vw;
    background-size: cover;
}

/* navbar /header */

#logo-border {
    border: 3px solid #FFD700;
}

#logo {
    font-size: 40px;
    color: #FFD700;
    margin-left: 20px;
    padding-top: 5px;
    float: left;
    letter-spacing: 4px;
    font-weight: 300;

}

#logo:hover {
    color: lightblue;
}

#logo a {
    text-decoration: none;
    color: inherit;
}

header {
    height: 58px;
    background-color: #12647F;
    border-bottom: 2px solid #FFD700;
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
}

nav li {
    float: right;
    list-style: none;
    padding: 20px;
    text-transform: uppercase;
    color: #FFD700;
    letter-spacing: 4px;
}

nav a {
    color: #FFD700;
    text-decoration: none;
}

nav a:hover {
    color: lightblue;
}

/* about */
#about {
    background-color: #12647F;
    padding-top: 5%;
    display: inline-block;
    padding-bottom: 5%;
    vertical-align: top;
}

hr {
    border: 3px solid #FFD700;
}




#left-about {
    max-width: 50%;
    float: left;
    margin-left: 100px;
    margin-top: 25px;
    display: inline-block;
    border: 5px solid #FFD700;
    padding: 10px;
    border-radius: 5%;
    word-wrap: break-word;
    background-color: #fafafa
}

#right-about {
    max-width: 50%;
    float: right;
    display: inline-block;
    margin-right: 100px;
    margin-top: 70px;
    border: 5px solid #FFD700;
    padding: 10px;
    border-radius: 5%;
    background-color: #fafafa
}

#left-about p,
#right-about p {
    color: #353839;
    font-size: 1.8em;
    letter-spacing: 0.2rem;
    line-height: 2.5rem;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-align: center;

}

#right-about p {
    /* text-align: right; */
}

/* footer */
#footer {
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: lightblue;
    vertical-align: top;
}

#social-links {
    text-align: center;


}

#social-links>li {
    display: inline;

}

#social-links i {
    font-size: 400%;
    color: #005AA7;
    padding: 50px;
    text-align: center;
}

#social-links i:hover {
    color: #FFD700;
}

/* hamburger */

.hamburger {
    display: none;
    cursor: pointer;

}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #FFD700;

}

@media(max-width:650px) {
    .hamburger {
        display: block;
        float: right;
        margin-right: 20px;
        margin-top: 12px;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        display: flex;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #12647F;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;

    }
}

#media {
    background-color: #12647F;
    width: 100vw;
    height: 100%;
    text-align: center;
    margin-bottom: 50px;
}

#video {
    margin: 50px 0;
    border: 5px solid #FFD700;

}

.audio-heading-1,
.audio-heading-2 {
    font-size: 1.5rem;
    color: #FFD700;
    margin:20px;
}

.audio-heading-2 {
    padding-bottom: 50px;
}

#audio-container {}

/* biography */

#bio{
    text-align: center;
    margin: 0 auto;
    display: inline-block;
}

#bio h2{
    font-size: 3rem;
    line-height:150%;
    letter-spacing: 2px;
}

#bio p{
    width:60%;
    position: relative;
    margin: 50px auto;
    line-height:150%;
letter-spacing: 2px;
}